/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(246, 246, 83);
  }

  #main-title{
    margin-top: 3%;
    font-size: 40px;
    text-align: center;
  }
  #main-container {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* list of todos*/
  #left-container {
    width: 40%;
    border: 1px solid gray;
    margin-right: 10%;
  }

  #left-container > h1 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
    margin-top: 2%;
  }

  #left-container li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 18%;
    margin-bottom: 5%;
  }

  /* todos */
  #right-container {
    width: 60%;
  }

  .todo-card {
    width: 100%;
    border: 1px solid black;
  }

  .top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  .card-bot {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
  }