/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 180);
  }

  #main-title{
    margin-top: 3%;
    font-size: 40px;
    text-align: center;
  }
  #main-container {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* list of todos*/
  #left-container {
    width: 35%;
    border: 1px solid gray;
    margin-right: 5%;
  }

  #left-container > h1 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
    margin-top: 2%;
  }

  #left-container li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 18%;
    margin-bottom: 5%;
  }

  /* todos */
  #right-container {
    width: 65%;
  }

  /* form */
  #form {
    border: 1px solid black;
    padding-bottom: 2%;
  }

  #title {
    margin-left: 2%;
    margin-top: 2%;
    height: 30px;
    width: 35%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  #description {
    margin-left: 2%;
    width: 90%;
    font-size: 20px;
    height: 130px;
  }

  #importance {
    margin-left: 2%;
    width: 30%;
    align-items: center;
  }
  
  #importance h4{
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #importance label{
    margin-right: 1.5%;
  }

  #create-button {
    margin-top: 1.5%;
    margin-left: 2%;
    border-radius: 5px;
    margin-bottom: 1%;
    height: 25px;
    width: 60px;
    background-color: rgb(0, 219, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;  
  }

  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  .button {
    width: 10px;
    text-align: center;
    cursor: pointer;
  }

  .search {
    margin-left: 10%;
    margin-top: 3%;
    width: 30%;
    line-height: 20px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  /* sign up button */
  #save-button {
    background-color: yellow;
    color: white;
    margin-top: 1%;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border: gray;
  }

  #save-button:hover {
    background-color: rgb(255, 230, 0);
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #2ebeff;
    text-decoration: none;
    cursor: pointer;
  }